* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.barra{
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

.precio {
  font-size: 1.2em;
  color: #e60000;
  margin-top: 10px;
}

.productos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.producto {
  background-color: white;
  padding: 10px;
  width: 150px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: grid;
}



.producto img {
  width: 100%;
  height: auto;
  transition: transform 1.3s ease;
  box-shadow: none;
  background: transparent;
  filter: none;

}
.producto img:hover {
transform: scale(3.1);

}
.barra2{

  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;

}
@media(max-width:480px){

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.barra{
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.precio {
  font-size: 1.2em;
  color: #e60000;
  margin-top: 10px;
}

.productos {
  display: grid;
  justify-content: space-around;
  margin-top: 20px;
  grid-template-columns: repeat(2,1fr);
}

.producto {
  background-color: white;
  padding: 10px;
  width: 150px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: grid;
  margin: 10px;
}



.producto img {
  width: 100%;
  height: auto;
  transition: transform 1.3s ease;
}
.producto img:hover {
transform: scale(3.1);
}
.barra2{

  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;

}



}
